body {
  height: 100vh;;
}
main {
  width: auto;
  height: 80vh;
  font-style: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	align-content: stretch;
}

header {
  display: flex;
	flex-direction: column;
	height: 10vh;

}

#button_1 {
  color: #4285f4;
}

.nav {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

div {
  border: 5px solid none;
}

.logo {
  margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.recherche {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

main > div > button {
  border-radius: 5px;
  margin: 15px 15px;
}


input {
  margin-bottom: 20px;
  width: 60vw;
  height: 40px;
  border-radius: 20px;
 }

.gestes {
  margin-top: 20px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

footer {
  height: 20vh;
  font-size: 15px;
  color: rgba(0,0,0,.54);
  bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

.france {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0,0,0,.54);
}

footer-links {
	display: flex;
	
	flex-wrap: nowrap;
	justify-content: space-between;

}



.section_1 {
  height: 5vh;
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: flex-start;
  flex-direction: row;
}
.section_2 {
  height: 5vh;
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: flex-end;
  flex-direction: row;
}



a, button {
  margin: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  border: none;
  color: rgba(0,0,0,0.87);
}

.search {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}